#the-band-page #body_content_title {
  display: none;
}
.instructor:nth-child(3n+1){
  clear: left;
}
.short-bio {
  min-height: 485px;
  max-height: 485px;
  overflow: auto;
}

@media (min-width: $screen-sm-min) {
  .instructor:nth-child(3n+1){
    clear: left;
  }
  .instructor:nth-child(4n+1){
    clear: none;
  }
}
@media (max-width: $screen-sm-min) {
  .short-bio {
    min-height: inherit !important;
    max-height: inherit !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  .instructor:nth-child(3n+1){
    clear: none;
  }
  .instructor:nth-child(4n+1){
    clear: left;
  }
}